
/* * * Green App Store button * * */

.appstore-button {
    font-size: 1.8rem;
    display: inline-block;
    width: 250px;
    height: 80px;
    color: white;
    margin: 10px;
    border-radius: 9px;
    overflow: hidden;
    background-color: #00B897;
    background-image: url("appstore-button-icons/apple.png");
    background-repeat: no-repeat;
    background-position: 20px center;
    border: 1px solid #007863;
}

.appstore-button:hover {
    background-color: #009E82;
    color: white;
}

.appstore-button:active {
    color: #ccc;
}

.appstore-button * {
    margin-left: 90px;
}

.appstore-button small {
    text-align: left;
    display: block;
    line-height: 1em;
    margin-top: 0.7em;
}

.appstore-button span {
    display: block;
    text-align: left;
    line-height: 1.3em;
    margin-bottom: 0.2em;
}



/* * * Black App Store button * * */

.appstore-button.black {
    background-color: black;
    border-color: white;
    border-width: 2px;
}

.appstore-button.black:hover {
    background-color: #686868;
}


/* * * Light App Store button * * */



.appstore-button.light {
    color: white;
    background-color:rgba(132, 132, 132, 0.7);
    background-position: 20px center;
    border: 1px solid #FFFFFF;
}

.appstore-button.light:hover {
    background-color:rgba(132, 132, 132, 0.8);
}

.appstore-button.light:active {
    background-color:rgba(132, 132, 132, 1.0);
}


/* * * Blue CINEPASS button * * */

.appstore-button.blue {
    background-color: #4695BE;
    border-color: white;
    border-width: 2px;
    background-image: none !important;
    padding-top: 10px; 
}

.appstore-button.blue:hover {
    background-color: #6ba5d0;
}

.appstore-button.blue small {
    text-align: center !important;
    display: block;
    line-height: 1em;
    margin-top: 0.7em;
}

.appstore-button.blue span {
    display: block;
    text-align: center !important;
    line-height: 1.3em;
    margin-bottom: 0.2em;
}


/* * * Android button * * */

#appstore-button-android {
    background-image: url('appstore-button-icons/and.png'); 
    height: 60px;
    width: 180px;
    background-color: #7E7E7E;
    font-size: 1.3rem;
    border-color: black;
}

#appstore-button-android:hover {
    background-color: #5E5E5E;
}

#appstore-button-android * {
    margin-left: 75px;
}



/* * * Android Light button * * */

#appstore-button-android.light {
    background-image: url('appstore-button-icons/and.png'); 
    background-repeat: no-repeat;
    height: 60px;
    width: 180px;
/*    background-color: #7E7E7E;*/
    background-color:rgba(126, 126, 126, 0.7);
    font-size: 1.3rem;
    border-color: black;
    opacity: 0.9;
}

#appstore-button-android.light:hover, 
#appstore-button-android.light:active {
    background-color:rgba(126, 126, 126, 0.8);
    opacity: 1.0;
}




/* * * Pressekit button * * */

#pressekit-download-button {
    height: 70px;
    width: 170px;
    font-size: 1.3em;
    line-height: 1.2em;
}