
@import url(http://fonts.googleapis.com/css?family=Lobster);

section {

    padding-top: 50px;

}

body {

    background-image: -webkit-linear-gradient(top, rgb(76, 76, 76) 0%, black 100%);

    background-image: -moz-linear-gradient(top, rgb(76, 76, 76) 0%, black 100%);

    background-image: -o-linear-gradient(top, rgb(76, 76, 76) 0%, black 100%);

    background-image: linear-gradient(top, rgb(76, 76, 76) 0%, black 100%);

    background-repeat: no-repeat;

    background-attachment: fixed;

    color: white !important;

}

ul.onepage-pagination li a:before {

    background: rgba(204, 204, 204, 0.85);

}

ul.onepage-pagination li a.active:before {

    border-color: rgba(204, 204, 204, 0.85);

}

section.page1 * {

    color: white !important;

}

#iPhone_StartScreen {

    position: relative;

}

#claim {

    margin-top: 19%;

    position: relative;

    font-size: 1.8rem;

    line-height: 3.2rem;

}

.cinery {

    font-family: 'Lobster';

    font-size: 1.3em;

    letter-spacing: 0.2rem;

}

h1.cinery {

    color: white !important;

    display: inline;

}